@media screen and (min-width: 800px) {
    .ham-button {
        display: none;
    }

    nav {
        top: 10%;
        position: relative;
        flex-direction: row;
        opacity: 100%;
        font-size: larger;
    }
}