:root {
    --base-color: maroon;
    --secondary-color: darkgreen;
    --text-color-over-dark: rgb(219, 219, 219);
}

header {
    padding: 1rem;
    background-color: var(--base-color);
}

h1 {
    text-align: center;
    color: var(--text-color-over-dark);
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .5rem;
}


.hero img {
    width: 100%;
    object-fit: cover;
}


.hero {
    background-color: var(--secondary-color);
    padding-top: 1rem;
}

.weather-section img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

section h2 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
    padding-top: 0;
    margin: auto;
}

th {
    text-align: right;
}

th::first-letter {
    text-transform: capitalize;
}

footer {
    background-color: var(--base-color);
    color: var(--text-color-over-dark);
    padding: 1rem;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: larger;
}

#lastModified {
    font-size: smaller;
}

#lastModified,
#studentNameTitle {
    color: yellow;
}